---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% assign username = post.author %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p>{{ post.abstract }}</p>

        <div class="author">

          <div class="author__profile">
            <div class="author__image">
              {% include author/avatar.html username=username size=60 %}
            </div>
            <div class="author__name">
              <a rel="author" itemprop="author" href="{{ site.baseurl }}/autores/{{ username }}">{% include author/name.html username=username %}</a>

              <div class="author__social">
                  <span class="post-meta">{% include post/date.html date=post.date %}</span>
              </div>
            </div>
          </div>

        </div>

      </li>
    {% endfor %}
  </ul>

</div>
